<!-- home.html -->
{% extends 'catalog/base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
{% include 'catalog/header.html'%}
<div class="container">
    <div class="row text-center">
        {% for product in products %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">

                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{product.name}}</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                            <li>- {{product.description|truncatechars:100}}</li>
                            <li><img src="{{ product.photo.url }}" alt="{{ product.name }}"></li>
                        </ul>
                        <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'catalog:product_detail' product.pk%}" role="button">Купить</a>
                    </div>
            </div>
        </div>
        {% endfor%}
    </div>
</div>
{% endblock %}