{% extends 'catalog/base.html' %}

{% block title %}Товар{% endblock %}

{% block content %}
<div class="container mt-5">
        <h1 class="mb-4">{{ product.name }}</h1>
        <p>Статус публикации: {{ product.is_active }}</p>
        <p>Категория: {{ product.category.name }}</p>
        <p>Описание: {{ product.description }}</p>
        <p>Цена: {{ product.price}} руб.</p>
        <p>Дата появления в продаже: {{ product.created_at|date:"d M Y"}}</p>
        <p>Фото: <img src="{{ product.image.url }}" alt="{{ product.name }}"></p>
        <a href="{% url 'catalog:product_update' product.pk %}" class="btn btn-primary">Изменить</a>
        <a href="{% url 'catalog:product_delete' product.pk %}" class="btn btn-danger">Удалить</a>
    </div>
{% endblock %}